<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sa.gym">
    <!-- Runtime Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission
            android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- <uses-permission android:name="com.android.vending.BILLING"/> -->
    <uses-feature
            android:name="android.hardware.ram.low"
            android:required="true"/>

    <dist:module dist:instant="true"/>

    <application
            android:name=".utils.CustomApplicationClass"
            android:allowBackup="false"
            android:banner="@mipmap/ic_launcher_round"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher_foreground"
            android:killAfterRestore="true"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:targetSandboxVersion="2"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="o">
        <activity android:name=".view.InAppBillingActivity"
                  android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity>
        <!-- Meta Data for Google Map Integrations -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/> <!-- Splash Activity -->
        <activity
                android:name=".view.SplashActivity"
                android:configChanges="orientation|keyboard|screenSize"
                android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- Dashboard Activity -->
        <activity
                android:name=".view.DashboardActivity"
                android:configChanges="orientation|keyboard|screenSize"
                android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity> <!-- Main Activity -->
        <activity
                android:name=".view.MainActivity"
                android:configChanges="orientation|keyboard|screenSize"
                android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity> <!-- Add User in Fire-Store Activity -->
        <activity
                android:name=".view.AddUserActivity"
                android:configChanges="orientation|keyboard|screenSize"
                android:label=" Membership Details"
                android:theme="@style/Theme.MaterialComponents.Light.Dialog"
                android:windowSoftInputMode="adjustResize">
        </activity>

        <!--Facebook Login-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>